
.payslip_table {
    width: 100%;
}

.new_ot_logo1{
    max-height: 65px;
    max-width: 200px;
}

.new_ot_logo img {
    max-height: 150px;
    max-width: 150px;
    margin-left: 5%;
}

.header_label {
    margin: auto;
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
}

.company_logo {
    margin: auto;
    padding: 5px;
    float: right;
}

.payslip_table tr {
    height: 30px;
    margin: auto;
    font-size: 2rem;
}

.slip_deductions {
    color: #900D09;
}

.t_label {
    padding: 5px;
}

.item_badge {
    white-space: nowrap;
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
}

.o_form_field_empty {
    display: inline-block !important;
    margin-left: -90px !important;
}